.main-header {
   height: 80px;
   width:100%;
   position: fixed;
   top:0;
   background-color: black;
   display: flex;
   justify-content: space-between;
}

.left-header {
   padding-top:15px;
   padding-bottom: 10px;
   align-items: flex-end;
   font-family: Arial black;
   color: white;
   font-size: 13px;
   display: flex;
}

.logo {
   background-image: url('imgs/logo.png');
   height:43px;
   width:64px;
   background-size: cover;
   background-repeat: no-repeat;
   margin-left:53px;
   margin-right: 18px;
   margin-bottom: 8px;
}

.header-menu {
   padding: 6px 13px;
}

.header-menu-middle {
   padding: 6px 13px;
   border-right: 1px solid gray;
   border-left: 1px solid gray;
}

.right-header {
   font-family: arial;
   color:gray;
   font-size: 11px;
   padding-top:9px;
   padding-right: 53px;
}

.top-right-header {
   display: flex;
   justify-content: flex-end;
   align-items: center;
}

.newsletter {
   color: white;
   border-left:1px solid gray;
   padding:1px 10px;
}

.bottom-right-header {
   display: flex;
   justify-content: flex-end;
   align-items: flex-end;
}

.search-bar {
   font-size: 13px;
   height: 33px;
   width: 140px;
   margin-top:17px;
   background: url('imgs/search.png')no-repeat;
   background-size: 16px;
   background-color: white;
   background-position: 4% 50%;
   padding-left: 30px;
}

.shopping-logo {
   background-image: url('imgs/shopping-logo.png');
   height: 20px;
   width: 20px;
   background-size: cover;
   background-repeat: no-repeat;
   margin-left: 12px;
   margin-bottom: 5px;
}

.title-section {
  height: 500px;
  background-image: url("imgs/eqt.jpg");
  margin-top: 80px;
  font-family: arial black;
  color: black;
  font-size: 18px;
  display: flex;
}

.title-words {
  width: 290px;
  margin-left: 200px;
  margin-top: 75px;

}

.title {
  font-size: 50px;
  letter-spacing: 0px;
}

.title-description {
  line-height: 1.3;
  margin: 10px 0px 35px 0px;
  font-family: helvetica;
}

.title-buttons {
  color: white;
}


.shop-buttons {
  height: 47px;
  background-color: rgba(0,0,0,0.7);
  /*background-color: #000;*/
  margin: 8px 0px;
  text-decoration: none;
  color: white;
  padding: 15px;
  display: block;
  font-size: 16px;
  /*opacity: 0.8;*/
  transition: opacity .2s ease-in-out;
}
.shop-buttons:hover {
  opacity: 1;
}
.mens {
  width: 160px
}

.womens {
  width: 180px;
}

.kids {
  width:140px;
}

.featured {
  height: 400px;
  display: flex;
  justify-content: center;
}

.featured-block {
  border: solid white 1px;
  margin: 5px;
}


.featured-item {
  height: 40px;
  font-family: arial black;
  color: black;
  letter-spacing: -1px;
  font-size: 18px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.featured-link {
  font-family: Arial;
  color: darkturquoise;
  font-size: 16px;
  width: 100%;
  margin: 10px;
  display: flex;
  justify-content: center;
}

.content {
  font-family: arial black;
  color: black;
  font-size: 13px;
  letter-spacing: -1px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.content-title {
  height: 65px;
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: arial;
  font-size: 29px;
  letter-spacing: 3px;
}

.trending-items {
  height: 70px;
  width: 230px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.trending-blocks {
  margin: 5px;
}

.trending-wrapper {
  margin: 20px 0px 0px 0px;
  width: 100%
}

.links-header {
  margin-top:150px;
  height: 85px;
  font-family: arial black;
  color: white;
  background-color: black;
  font-size: 20px;
  letter-spacing:-1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.promotion {
  margin-right: 200px;
}

.e-mail {
  height: 40px;
  width: 350px;
  padding-left: 10px;
  font-size: 13px;

}
